

<body>
  <div  class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="nav-side-menu">
          <div class="brand">Brand Logo</div>
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
              <li>
                <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
              </li>
              <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="#">CSS3 Animation</a></li>
                <li><a href="#">General</a></li>
                <li><a href="#">Buttons</a></li>
                <li><a href="#">Tabs & Accordions</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">FontAwesome</a></li>
                <li><a href="#">Slider</a></li>
                <li><a href="#">Panels</a></li>
                <li><a href="#">Widgets</a></li>
                <li><a href="#">Bootstrap Model</a></li>
              </ul>
              <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="service">
                <li>New Service 1</li>
                <li>New Service 2</li>
                <li>New Service 3</li>
              </ul>
              <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
              </ul>
              <li>
                <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-9 col-sm-offset-1">
       <h1>Queries#new</h1>
       <p>Find me in app/views/queries/new.html.erb</p>
       <%= simple_form_for [@query] do |f| %>
       <%= f.input :start_time %>
       <%= f.input :start_time %>
       <%= f.submit "Generate datapoints", class: "btn btn-primary" %>
       <% end %>
       <!-- preparing a DOM with width and height for ECharts -->
       <div id="main" style="width: 600px;height:400px;"></div>
       <% content_for(:after_js) do %>
       <%= javascript_tag do %>
       // initialize echarts instance with prepared DOM
       var myChart = echarts.init(document.getElementById('main'));
       // draw chart
       myChart.setOption({
       title: { text: 'ECharts entry example' },
       tooltip: {},
       xAxis: {
       data: ["shirt","cardign","chiffon shirt","pants","heels","socks"]
     },
     yAxis: {},
     series: [{
     name: 'sales',
     type: 'bar',
     data: [5, 20, 36, 10, 10, 20]
   }]
 });
 <% end %>
 <% end %>
  </div>
</div>
</div>
</body>
